<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="~/OnlineShopping/Index">Online Shopping Web App</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand" href="~/Customers/Details/@Request.Cookies["UserId"].Value">Hello,  @Request.Cookies["Username"].Value</a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/OnlineShopping/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"> <a class="nav-link" href="~/Admin/ViewBook">View Books</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Admin/ViewStaff">View Staffs</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Admin/ViewCustomer">View Customers</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Admin/ViewOrder">View Order</a></li>
                        }
                        else if (User.IsInRole("ShipmentAgent"))
                        {
                            <li class="nav-item"><a class="nav-link" href="~/ShipmentAgent/DoShipment">Manage Shipment</a></li>
                        }
                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item"><a class="nav-link" href="~/Orders/Index">View Order</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Customers/Edit/@Request.Cookies["UserId"].Value">Manage Profile</a></li>
                        }

                        <li class="nav-item"><a class="nav-link" href="~/AuthAuth/Logout">Log Out</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="~/AuthAuth/SignUp">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/AuthAuth/Login">Log In</a></li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <link href="~/Content/bootstrap1.min.css" rel="stylesheet" type="text/css" />
    <div class="py-2 bg-light"></div>
    <div class="container body-content align-items-sm-center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>